/*
  ROCK PAPER SCISSORS
*/
:root {
  /*FONTS*/
  --logo-font: "Badeen Display", system-ui;
  --logo-font-wt: 400;

  --para-fonts: "Inter", sans-serif;
  /*COLORS*/
  --headings-red: #f01b1b;
  --tertiary-grey: #a09595;
  --secondary-white: rgba(226, 223, 223, 0.833);
  --primary-black: #111;
  --primary-white: #fff;
  --secondary-purple: purple;
  --secondary-orange: #ffa500;
  --seconday-magenta: magenta;

  /*GLASSMORPHIC CARDS*/
  --bg-glass: rgba(155, 155, 155, 0.25);
  --glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --glass-blur: blur(4px);
  --glass-border-radius: 10px;
  --glass-border: 1px solid rgba(255, 255, 255, 0.18);
}

/*To Hide Things*/
.emote-disabled {
  opacity: 0;
}

/*adjust bottom padding*/
.whole-flex-game-pages {
  padding: 0 0 3rem;
}

/*The container of the game - modifies hero-div*/
.game-page-section {
  width: 80%;
  justify-content: space-between;
  gap: 3rem;
}


/*Score Board Placed at top right - Direct Child of game-page-section*/

.score-board {
  width: 120px;
  border-radius: 30px;
  background-color: aliceblue;
  padding: 1.2px 8px;
  position: absolute;
  right: 30px;
  top: 40px;
  justify-content: space-between;
}

.score-icon {
  width: 40%;
  height: 40px;
  background: url(../resources/score-board.png) no-repeat;
  background-position: center;
  background-size: 60% 70%;
}

.gold-coin-icon {
  background: url(../resources/gold-coin.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.score {
  width: 60%;
  color: var(--primary-black);
  font-size: 1.5rem;
  font-weight: bold;
}

/*Score Board Done*/

.choice-icon {
  width: 120px;
  height: 120px;
  border: 5px solid aliceblue;
  border-radius: 50%;
}

.choice-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*Wraps Choice wrapper game-result js-score and the button contianer*/
.game-output {
  justify-content: space-evenly;
  gap: 1rem;
  width: 70%;
  text-align: center;
}

/*Holds each individual choice wrapper*/
.choice-outputs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: center;
}

/*Wraps Icon and Name Of The Player*/
.choice-wrapper {
  width: 50%;
  text-align: center;
  gap: 1rem;
}

.choice-output-icon {
  width: 150px;
  height: 150px;
  border-radius: 1000px;
  text-align: center;
  border: 5px solid aliceblue;
}

.choice-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
/*Choice wrapper done*/

.js-score {
  font-size: 1.2rem;
}

/*Victory- green*/
.green-result {
  color: #adff2f;
}

/*game-tie is White*/
.white-result {
  color: var(--primary-white);
}

.game-page-btn-container {
  gap: 2rem;
}


/*Rock Paper Scissors*/

/*Main Playground Area - 3rd child of the game-page-section*/

.playground-rps {
  width: 70%;
  /* height: calc(80vh - 1rem - 60px - 3rem - 3rem); */
  margin: 0 auto;
  border-radius: 10px;
  align-items: stretch;
}

.user-choice-opts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 30%;
  gap: 20px;
  justify-items: center;
}

.rock-icon {
  background: url(../resources/rock.png) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}

.paper-icon {
  background: url(../resources/paper.png) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}

.scissor-icon {
  background: url(../resources/scissors.svg) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}

/*GUESS THE NUMBER*/

.gtn-page-section{
  justify-content: center;
}

.playground-gtn {
  gap: 2rem;
  justify-content: space-evenly;
}

.choice-sections {
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.choices-gtn {
  font-size: 2.5rem;
  border-width: 6px;
  border-color: white;
}

.choices-visibility{
  visibility: hidden;
}

.user-choice-area {
  gap: 20px;
  justify-content: space-between;
}

.input-area {
  gap: 1rem;
  align-items: stretch;
  font-size: 2rem;
}

.input-field {
  padding: 5px 10px;
  width: 200px;
  font-size: 1rem;
  border-radius: 5px;
}

/*Modifying THe placeholder font size*/
#userChoice::placeholder{
  font-size: 1rem;
}

/*Slider Customisation Starts*/
.slider {
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}

#choiceSelector {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 0 auto;
}

/*Slider Thumb Customisation*/
#choiceSelector::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  border: 7px solid #f01b1b;
  cursor: pointer;
}

#choiceSelector::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  background: url(../resources/slider-icon.png);
  cursor: pointer;
}
/*Slider Ends*/

/*FLIP THE COIN*/

.ftp-choice-icon{
  width: 100px;
  height: 100px;
}

.tail-icon {
  background: url(../resources/coin-tail.webp) no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.head-icon {
  background: url(../resources/coin-head.webp) no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.ftp-choice-outputs {
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pg-ftp {
  width: 100%;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.choice-name-ftp {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.choice-name-ftp:hover {
  cursor: pointer;
}

.choice-select {
  opacity: 1;
  width: 110px;
  height: 110px;
}

.score-popup {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-family: var(--para-fonts);
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, scale 0.4s, bottom 0.4s;
}

.victory-popup {
  background-color: greenyellow;
  color: var(--secondary-purple);
}

.defeat-popup {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

.show-popup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  bottom: 50%;
}

/*Mine The GOld */

.mode-and-mine-parent{
  position: relative;
  gap: 2rem;
}

.mode-container{
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  gap: 10px;
  padding: 10px 0;
}

.mode-name{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-family: var(--para-fonts);
  font-weight: bold;
  text-align: center;
}

.mode-name:hover{
  cursor: pointer;
}

#Easy{
  background: rgba(87, 199, 133, 1);
  color: var(--secondary-purple);
}
#Medium{
  background-color: #ffa500;
  color: var(--secondary-purple);
}
#Hard{
  background-color: var(--headings-red);
}

.auto-play-container{
  position: absolute;
  top: 150px;
  left: -70px;
  padding: 5px 10px;
  text-align: center;
}

.auto-play-icon{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  background: url(../resources/play-icon.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.pause-icon{
  background: url(../resources/pause-icon.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.auto-play-icon:hover{
  cursor: pointer;
}

.mine-glass {
  background: rgba(0, 0, 0, 0.403);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.mine-container {
  width: 320px;
  max-height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.grid-cells {
  height: 80px;
  border-radius: 10px;
  background: rgba(42, 155, 89, 1);
  background: linear-gradient(
    circle,
    rgba(42, 155, 89, 0.5) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  transition: background-color 0.7s;
}

.grid-cells:hover {
  background-color: white;
  cursor: pointer;
}

.gold-cell {
  background-image: url(../resources/star-gold.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}

.mine-cell {
  background-image: url(../resources/bomb-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}
