/*
  ROCK PAPER SCISSORS
*/
:root{
  /*FONTS*/
  --logo-font : "Badeen Display", system-ui;
  --logo-font-wt : 400;

  --para-fonts : "Inter", sans-serif;
  /*COLORS*/
  --headings-red : #F01B1B;
  --tertiary-grey : #A09595;
  --secondary-white: rgba(226, 223, 223, 0.833);
  --primary-black : #111;
  --primary-white : #FFF;
  --secondary-purple : purple;
  --secondary-orange: #ffa500;
  --seconday-magenta : magenta;

  /*GLASSMORPHIC CARDS*/
  --bg-glass: rgba( 155, 155, 155, 0.25 );
  --glass-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  --glass-blur: blur( 4px );
  --glass-border-radius: 10px;
  --glass-border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/*To Hide Things*/
.emote-disabled{
  opacity: 0;
}

/*adjust bottom padding*/
.whole-flex-game-pages{
  padding-bottom: 3rem;
}

/*to adjust navigation bar*/
.game-page-nav-bar{
  padding-top: 2rem;
  margin-bottom: 0;
}

.game-page-main-section{
  width: 90%;
  justify-content: space-between;
  gap: .5rem;
  padding: 1.5rem 0;
}

.game-page-section{
  height: 100%;
  width: 100%;
  gap: 3rem;
  position: relative;
  text-align: center;
}

/*Score Board Placed at top right - Direct Child of game-page-section*/

.score-board{
  width: 130px;
  border-radius: 30px;
  background-color: aliceblue;
  padding: 2px 10px;
  position: absolute;
  right: 1rem;
  top: 0;
  justify-content: space-between;
}

.score-icon{
  width: 40%;
  height: 40px;
  background: url(../resources/score-board.png);
  background-position: center;
  background-size: 60% 70%;
  background-repeat: no-repeat;
  margin-top: 3px;
}

.gold-coin-icon{
  background: url(../resources/gold-coin.png);
  background-position: center;
  background-size: 80% 100%;
  background-repeat: no-repeat;
}

.score{
  width: 60%;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/*Score Board Done*/

.user-choice-opts{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 30%;
  gap: 20px;
  justify-items: center;
}

.choice-icon{
  width: 120px;
  height: 120px;
  border: 5px solid aliceblue;
  border-radius: 50%;
}

.choice-icon:hover{
  cursor: pointer;
  opacity: 0.7;
}

/*Wraps Choice wrapper game-result js-score and the button contianer*/
.game-output{
  justify-content: space-evenly;
  gap: 1rem;
  width: 70%;
  text-align: center;
}

/*Holds each individual choice wrapper*/
.choice-outputs{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: center;
}

/*Wraps Icon and Name Of The Player*/
.choice-wrapper{
  width: 50%;
  text-align: center;
  gap: 1rem;
}

.choice-output-icon{
  width: 150px;
  height: 150px;
  border-radius: 1000px;
  text-align: center;
  border: 5px solid aliceblue;
}

.choice-name{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
/*Choice wrapper done*/

.js-score{
  font-size: 1.2rem;
}

/*Victory- green*/
.green-result{
  color: #adff2f;
}

/*game-tie is White*/
.white-result{
  color: var(--primary-white);
}

.game-page-btn-container{
  gap: 2rem;
}

.game-level-container{
  margin-top: 0rem;
}

/*Rock Paper Scissors*/

/*The DropDown of Multiplayerand Computer*/
#game-modes{
  background: transparent;
  border: none;
  font-size: 1.3rem;
}

#game-mode option:focus{
  outline: none;
  border: none;
}
/*DropDown Ends Here*/

/*Main Playground Area - 3rd child of the game-page-section*/
.playground-rps{
  width: 70%;
  height: calc(80vh - 1rem - 60px - 3rem - 3rem);
  margin: 0 auto;
  border-radius: 10px;
  align-items: stretch;
}

.rock-icon{
  background: url(../resources/rock.png) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}

.paper-icon{
  background: url(../resources/paper.png) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}


.scissor-icon{
  background: url(../resources/scissors.svg) no-repeat;
  background-size: 60% 60%;
  background-position: center;
}

/*GUESS THE NUMBER*/

.gtn-main-section{
  height: 80vh;
  gap: 2rem;
}

.game-header-gtn{
  width: 100%;
  position: relative;
  text-align: center;
}

.choice-sections{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.choices-gtn{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 6px;
  border-color: white;
}

.user-choice-area{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.input-area{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  font-size: 2rem;
}

.play-btn{
  border: none;
}


.input-field{
  padding: 5px 10px;
  width: 200px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.slider{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  text-align: center;
}

.slider-values{
  width: 10%;
}

#choiceSelector {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0 auto;
}

.play-count:hover{
  background-color: transparent;
  color: white;
  border-color: white;
  cursor:default;
}

#choiceSelector::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  border: 7px solid #F01B1B;
  cursor: pointer;
}

#choiceSelector::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  background: url(../resources/slider-icon.png);
  cursor: pointer;
}

.playground-gtn{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*FLIP THE COIN*/

.tail-icon{
  background: url(../resources/coin-tail.webp) no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.head-icon{
  background: url(../resources/coin-head.webp) no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.ftp-main-section{
  height: 80vh;
}

.ftp-game-page-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.ftp-game-header{
  height: 10%;
  width: 100%;
}

.ftp-choice-outputs{
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pg-ftp{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.ftp-choice-icon{
  height: 120px;
  width: 120px;
}

.ftp-choice-icon:hover{
  opacity: 0.7;
  cursor: pointer;
}

.choice-name-ftp{
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.choice-name-ftp:hover{
  cursor: pointer;
}

.choice-select{
  opacity: 1;
  width: 150px;
  height: 150px;
}

.score-popup{
  width: 80px;
  height: 80px;
  font-size: 16px;
  color: white;
  font-family: var(--para-fonts);
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, scale 0.4s, bottom 0.4s;
}

.victory-popup{
  background-color: greenyellow;
  color: var(--secondary-purple);
}

.defeat-popup{
  background-color: var(--headings-red);
}

.show-popup{
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  bottom: 50%;
}

/*Mine The GOld */

.mine-glass{
  background: rgba(0, 0, 0, 0.403);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.mine-container-flex{
  width: 500px;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap:10px;
}

.flex-rows{
  width: 100%;
  height: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flex-cells{
  width: calc(100%/3);
  height: 100%;
  border-radius: 10px;
  background: rgba(42, 155, 89, 1);
  background: linear-gradient(circle, rgba(42, 155, 89, 0.5) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); 
  transition: background-color .7s;
}

.flex-cells:hover{
  background-color: white;
  cursor: pointer;
}

/* .flex-cell-blue{
background: rgba(250, 163, 7, 0.55);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(250, 163, 7, 0.13);
} */

.gold-cells{
  background-image: url(../resources/star-gold.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}
/* #e5e5e5 grey */

.mine-cell{
  background-image: url(../resources/bomb-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}
