@media (max-width : 80rem){
  .game-card-container{
    grid-template-columns : repeat(2, 1fr);
  }
}

@media (max-width : 75rem){
  :root{
    font-size: 10px;
  }
  .cta-info{
    width : 95%;
  }
}

@media (max-width : 954px){
  .hero-info{
    width: 80%;
  }
  .icon-top-right{
    width: 150px;
    top: -50px;
  }
  .icon-bottom-left{
    width: 200px;
    height: 350px;
  }
}

@media (max-width : 769px){
  .icon-top-right{
    width: 120px;
  }
  .icon-bottom-left{
    width: 150px;
    height: 300px;
  }

  .icon-top-right{
    right: -20px;
  }
  .game-card-container{
    grid-template-columns: 1fr;
    align-items: center;
  }
} 

@media (max-width : 653px){
  .link-icon{
    display: none;
  }
}

@media (max-width: 450px){
  :root{
    font-size: 8px;
  }
}

@media (max-width: 900px){
  .score-board{
    width: 100px;
  }
  .score{
    font-size: 15px;
  }
  .score-icon{
    height: 35px;
  }
}

@media (max-width : 768px){
  .score-board{
    width: auto;
  }
  .score-icon{
    width: 30px;
  }
}

@media (max-width: 600px){
  .game-header{
    flex-direction: column;
    gap: 20px;
  }
  .score-board{
    position: static;
  }
}

@media (max-width : 400px){
  .ftp-choice-icon{
    width: 75px;
    height: 75px;
  }
  .choice-output-icon{
    width: 100px;
    height: 100px;
  }
}

@media (min-width : 635px) and (max-width : 768px){
  .mine-container{
    width: 275px;
    height: 275px;
  }
  .mode-container{
    left: -55px;
  }
}

@media (min-width : 570px) and (max-width : 634.9999px){
  .mine-container{
    width: 250px;
    height: 250px;
  }
  .mode-container{
    left: -50px;
    width: 40px;
  }
  .mode-name{
    width: 25px;
    height: 25px;
  }
}

@media (min-width : 425px) and (max-width : 569.9999px){
  .mine-container{
    width: 200px;
    height: 200px;
    position: relative;
    right: -20px;
  }
  .mode-container{
    left: -30px;
    width: 36px;

  }
  .mode-name{
    width: 22px;
    height: 22px;
    font-size: 10px;
  }
}

@media (min-width : 350px) and (max-width : 424.9999px){
  .mine-container{
    width: 150px;
    height: 150px;
    padding: 5px;
    column-gap: 5px;
    row-gap: 5px;
    position: relative;
    right: -20px;
  }
  .mode-container{
    left: -20px;
    width: 30px;

  }
  .mode-name{
    width: 20px;
    height: 20px;
    font-size: 8px;
  }
}

@media (max-width : 349.999px){
  :root{
    font-size: 6.8px;
  }
  
  .mine-media-con{
    gap : 5rem;
  }

  .mine-container{
    width: 150px;
    height: 150px;
    padding: 5px;
    column-gap: 5px;
    row-gap: 5px;
  }
  .mode-container{
    top: -30px;
    left: 50%;
    width: auto;
    padding: 2px;
    height: 22px;
    flex-direction: row;
    gap: 5px;
    transform: translate(-50%, 0%);
  }
  .mode-name{
    width: 18px;
    height: 18px;
    font-size: 6px;
  }
}